{% load static %}
<!doctype html>
<html>
<head>
  <title>Search</title>
  <link rel="stylesheet" href="{% static 'library_app/search.css' %}">
</head>
<body>
  <div class="search-container">
    <h1>Search results for "{{ query }}"</h1>
    <ul>
    {% for book in results %}
      <li><a href="{% url 'book_detail' book.book_id %}">{{ book.title }}</a> - {{ book.author }}</li>
    {% empty %}
      <li>No results. Suggestions: check spelling or try parts of the title.</li>
    {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Back</a>
  </div>
</body>
</html>