{% load static %}
<!doctype html>
<html>
<head>
     <link rel="stylesheet" href="{% static 'library_app/login.css' %}">
</head>
<body>
  <div class="container">
    <h1>Sign Up</h1>
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
      
      <label for="email">Email address:</label>
      <input type="email" id="email" name="email">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      
      <button type="submit">Create account</button>
    </form>
  </div>
</body>
