{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LeBrary System</title>
    <link rel="stylesheet" href="{% static 'library_app/dashboard.css' %}">
</head>
<body>
    
    <nav>
        <div>
            <a href="{% url 'library_home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_books' %}">My Borrowed Books</a>
                {% if user.is_staff %}
                    <a href="{% url 'add_book' %}" style="color: #e67e22;">[+] Add Book</a>
                {% endif %}
            {% endif %}
        </div>

        <div>
            {% if user.is_authenticated %}
                <span>Hello, {{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" style="display:inline; margin-left: 10px;">
                    {% csrf_token %}
                    <button type="submit" style="background-color: #cd0c0c; padding: 5px 10px; font-size: 0.8em;">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>